<div class="page-header"><h1>Edit cpost</h1></div>

<% form_for(cpost, {action: path_to.cpost(cpost), method: 'PUT', id: "cpost_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('cposts/form.ejs', {locals: {form: form, cpost: cpost}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Update cpost', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.cpost(cpost), {class: 'btn'}) %>
    </div>
<% });%>